<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>万能扫搜.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>万能搜索.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>广度优先搜索.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>着色法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>种子填充法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>算法集合.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C20267E1ECD90F700BE3437</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C2026921ECD934800BE3437</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C40BB3F1ED6DD1C00DE2907</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C9B5A8C1ED7C646004C5521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CAEBA371ECEA2B700E35BB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CC870CF1EB9E16900013547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
